*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(59, 159, 241), rgb(152, 75, 169));
    min-height: 150vh;
}

/*  En-tête du choix des sessions  */
.Title{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.Choisir_des_sessions{
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 500px;
    position: relative;
    top: 350px;
    border-radius: 10px;
    left: 50%;
}

/*  Choix des sessions  */
.Session{
    background: linear-gradient(45deg, rgb(147, 86, 220), rgb(183, 71, 183));
    border-radius: 10px;
    border: solid 2px white;
    margin: 10px;
    padding: 10px;
}
.session-label{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.session-checkbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    top: 50%;
}
#startButton{
    color: white;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top : 20px;
    width: 100px;
}
#startButton:hover{
    background-color: rgb(100, 100, 255);
    cursor: pointer;
    border-color: black;
}
.Session:hover{
    background-color: rgb(100, 100, 255);
    cursor: pointer;
    border-color: black;
}

/* Questions */
.Questions {
    background-color: white;
    width: 1000px;
    max-width: 90%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    top: 100px;
    position: relative;
}

.Guess {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#questionBox {
    width: 50%;
    height: 50px;
    border: solid 2px black;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    resize: none;
    text-align: center;
}

#abandonner {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(181, 37, 37);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#abandonner:hover {
    border: solid 4px rgb(221, 48, 48);
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.bloc {
    flex: 1;
}

.word {
    border: solid 2px black;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #f8f9fa;
    width: 100%;
}